<p> ID: {{ id }}</p>

<!--form *ngIf = "schueler">

    <div class="form-row">

      <div class="form-group col-md-6">
        <label >Nachname</label>
        <input type="text" class="form-control" value = "{{schueler.Nachname}}">
      </div>

      <div class="form-group col-md-6">
        <label>Vorname</label>
        <input type="text" class="form-control" value = "{{schueler.Vorname}}">
      </div>

      <div class="form-group col-md-12">
      <label>Strasse</label>
      <input type="text" class="form-control" value = "{{schueler.Strasse}}">
      </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-8">
          <label>Stadt</label>
          <input type="text" class="form-control" value = "{{schueler.Stadt}}" >
        </div>

      
        <div class="form-group col-md-4">
          <label>Postleitzeil</label>
          <input type="text" class="form-control" value = "{{schueler.Postleitzeil}}" >
        </div>
     
    </div>

       
    <button type="submit" class="btn btn-primary"> Senden </button>
  </form-->