<!--app-diretiva-ngif></app-diretiva-ngif-->
<!--app-diretiva-ngswitch></app-diretiva-ngswitch-->
<!--app-diretiva-ngclass></app-diretiva-ngclass-->
<!--app-diretiva-ngstyle></app-diretiva-ngstyle-->
<!--app-diretiva-ngcontent>
    Aqui entra o conteúdo body...
</app-diretiva-ngcontent>

<app-diretiva-ngcontent>
    <div class="x">
        Título
    </div>

    <div class="y">
        Aqui entra o conteúdo body...
    </div>
<app-diretiva-ngcontent-->

<app-diretiva-customizada></app-diretiva-customizada>